<h1 style="font-size: 1.25rem; margin-bottom: 0.5rem;">Hi <%= @waitlist.name %>,</h1>

<p style="color: #555; line-height: 1.6;">
  Thanks for your interest in Milkcrate. We've received your application and will review your store shortly.
</p>

<p style="color: #555; line-height: 1.6;">
  <strong>Discogs username:</strong> <%= @waitlist.discogs_username %><br>
  <strong>Email:</strong> <%= @waitlist.email %>
</p>

<p style="color: #555; line-height: 1.6;">
  We'll reach out to you directly at this email once we've completed our review.
</p>

<hr style="border: none; border-top: 1px solid #eee; margin: 2rem 0;">

<p style="color: #999; font-size: 0.8rem;">
  Patrick<br>
  <a href="https://milkcrate.fm" style="color: #999;">milkcrate.fm</a>
</p>
