<button type="button" class="btn btn-primary mb-3" data-bs-toggle="modal" data-bs-target="#recordModal">
  Add Record
</button>
<div class="add-record">
  <!-- Modal -->
  <div class="modal fade" id="recordModal" tabindex="-1" aria-labelledby="recordModal" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="recordModal">Add a new Record</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <%= render 'records/form', crate: crate %>
        </div>
      </div>
    </div>
  </div>
</div>
