<%= render(Breadcrumbs::BreadcrumbsComponent.new) do |component| %>
  <% component.with_breadcrumb(href: '/') do %>Crates
  <% end %>
  <% component.with_breadcrumb(href: crate_path(@record.crate)) do %><%= @record.crate.name %>
  <% end %>
  <% component.with_breadcrumb(active: true) do %><%= @record.title %>
  <% end %>
<% end %>

<div class="d-flex justify-content-center">
  <div class="col-lg-8 col-md-10 col-sm-12 col-xs-12">
    <%= render(RecordComponent.new(record: @record)) %>
  </div>
</div>